{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="panel   panel-new-auto panel-opacity panel-auto">
                    <div class="panel-body">
                        <div class="title-panel">
                            Новые автомобили в наличии
                            <div class="statistic">
                                2300 в наличии
                            </div>
                        </div>
                        <div class="panel-img">
                            <img src='{% static 'img/wheel.png' %}'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-new-commercial  panel-opacity    panel-commercial">
                    <div class="panel-body">
                        <div class="title-panel">
                            Грузовые и коммерчиские
                            <div class="statistic">
                                2300 в наличии
                            </div>
                        </div>
                        <div class="panel-img">
                            <img src='{% static 'img/fura.png' %}'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-new-moto       panel-moto">
                    <div class="panel-body">
                        <div class="title-panel">
                            Мотоциклы, квадрациклы, снегоходы, гидроциклы
                        </div>
                        <div class="panel-img" style="margin-top: 70px">
                            <img src='{% static 'img/moto.png' %}'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel   panel-new-bu-auto panel-bu-auto">
                    <div class="panel-body">
                        <div class="title-panel">
                            Автомобили с пробегом
                            <div class="statistic">
                                2300 в наличии
                            </div>
                        </div>
                        <div class="panel-img">
                            <img src='{% static 'img/bu_auto.png' %}'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-new-to   panel-to">
                    <div class="panel-body">
                        <div class="title-panel-mini">
                            Запись на сервисное обслуживание

                        </div>
                        <div class="panel-img" style="margin-top: 100px">
                            <img src='{% static 'img/to.png' %}'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-new-bonus  panel-bonus">
                    <div class="panel-body">
                        <div class="title-panel-mini">
                            КЛЮЧАВТО Бонус
                            <div class="statistic">
                                &nbsp
                            </div>
                        </div>
                        <div class="panel-img">
                            <img src='{% static 'img/bonus.png' %}'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-new-kontact       panel-kontact">
                    <div class="panel-body">
                        <div class="title-panel-mini">
                            Контакты центров
                            <div class="statistic">
                                &nbsp
                            </div>
                        </div>
                        <div class="panel-img">
                            <img src='{% static 'img/kontact.png' %}'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'img/banner.png' %}">
            </div>
        </div>
    </div>
{% endblock %}