{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="width: 100%">
        <div class="row purple">
            <div class="container-fluid" style="padding-right: 40px;padding-left: 40px">
                <div class="col-md-12  ">
                    <h1>Адреса диллерских центров</h1>
                    <div style="margin-top: 25px">
                        <ul class="nav nav-pills" style="margin-bottom: 25px">
                            <li role="presentation" class="active"><a href="#">Краснодар</a></li>
                            <li role="presentation"><a href="#">Горячий ключ</a></li>
                            <li role="presentation"><a href="#">Сочи</a></li>
                            <li role="presentation"><a href="#">Новоросийск</a></li>
                            <li role="presentation"><a href="#">Минеральные воды</a></li>
                            <li role="presentation"><a href="#">Ставрополь</a></li>
                            <li role="presentation"><a href="#">Ростов-на-Дону</a></li>
                            <li role="presentation"><a href="#">Республика Адыгея</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="background-color: #ffffff;margin-top:-5px">
            <div class="container-fluid" style="overflow-y: scroll;height: 1610px;padding-left: 5px;padding-right: 5px">
                <div class="col-md-12">
                    <h2 class="city-title">Краснодар</h2>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h2 class="city-title">Краснодар</h2>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 card">
                        <div style="text-align:center;display:block;">
                            <img src="{% static 'img/mersedes sever.jpg' %}">
                        </div>
                        <div class="card-title">Мерседес-Бенц Центр Краснодар</div>
                        <div class="contact-center">г. Краснодар, мкр. им. Жукова (ЭНКА),<br>
                            ул. А. Покрышкина, 15/1,<br>
                            тел./факс: +7 (861) 260-00-00
                        </div>
                        <div class="btn-group-seller">
                            <a class="btn btn-primary">
                                <img src="{% static 'img/point.png' %}">
                                Схема
                            </a>
                            <a class="btn btn-primary">
                                <img src="{% static 'img/print.png' %}">
                                Печать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".navbar-brand").addClass('navbar-brand-sec');
        </script>
    </div>
{% endblock %}