<div class="container "   style="width: 1080px">
    <div class="row panel-new-auto">
        <div class="container-fluid" style="padding-right: 40px;padding-left: 40px">
            <div class="col-md-12  ">
                <h1 style="padding-bottom: 10px">{{ marks[0].mark }} {{  marks[0].model.name }} в наличии</h1>
                <div style="color: white;font-size: 18px;margin-top: -15px;margin-bottom: 20px">Выберите
                    интересующую вас модель автомобиля
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #ffffff;margin-top:-5px">
        <div class="container-fluid" style="overflow-y: scroll;height: 1646px;padding-left: 0px;padding-right: 0px">
                <div class="col-md-3 card-auto " ng-repeat="model in marks">
                    <a href="#!/auto/{{ model.id }}">
                    <div class="thumbnail_container" style="padding-bottom: 78%">
                        <div class="thumbnail">
                            <img ng-src="{{model.images[0].url}}" class="img-responsive">
                            <div style="    position: absolute;    bottom: -25px; font-size: 20px"> {{ model.model.name }}
                             </div>
                            <div style="    position: absolute;  font-size: 23px ;font-weight: bold; bottom: -65px;">
                                <span style="font-weight: 100; font-size: 19px">от</span> {{ model.s_price }} руб.
                            </div>
                        </div>
                    </div>
                        </a>
                </div>




        </div>
    </div>
    <script>
        $(".navbar-brand").addClass('navbar-brand-sec');
    </script>
</div>